---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/styleArtesanal.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100" rel="stylesheet">
        <title>modeloProductoArtesano</title>
    </head>
    <body>

                        <!-- Header Start-->
                        <div class="header">
                        <div class="envioGratis">Envio gratis a partir de 80.000bsf</div>
                        <div class="envioDetalles">Detalles</div>
                        </div>
                        <!-- Header Over-->

                        <div class="direccion">
                            <a href="index.html">Inicio</a>
                            <div> &nbsp; &rarr; </div>
                            <div> &nbsp; Snacks &amp; Trail Mixes </div>
                        </div>


        {% include wasabiPeas.html %}
        {% include pretzelBulk.html %}
        {% include pasapaloChino.html %}
        {% include mixtoSpicyCrujiente.html %}
        {% include mixtoSalado.html %}
        {% include mixtoPrimavera.html %}
        {% include mixtoNatural.html %}
        {% include zumeyCremaMani500gr.html %}
        {% include nutellaMini25.html %}
        {% include maniMixto.html %}




    </body>
</html>