                                          <!-- Aceite Oliva Emoc 1L-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/aceiteEmoc1L.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Aceite Oliva Emoc 1 Lt</div>
                        <div class="productUnitDesc">Aceite de oliva. Marca: Emoc. Envase de vidrio de 1000ml. 100% extra virgen.  Producto de: Siria</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Ver lista de <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpjf82Zx0Yz8JkNvssay2XX20ebkolkqmif6cdn8NfM9uSlMhRydy0jBCZA7Dj5JiU9Xg91D8z9aKy/pub?gid=0&single=true&output=pdf" style="color: rgb(0,0,0)">
                            <font color="000000"> precios </font></a>
                            </div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>