<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/StyleArtesanal.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100" rel="stylesheet">
        <title>modeloProductoArtesano</title>
    </head>
    <body>

                        <!-- Header Start-->
                        <div class="header">
                        <div class="envioGratis">Envio gratis a partir de 80.000bsf</div>
                        <div class="envioDetalles">Detalles</div>
                        </div>
                        <!-- Header Over-->

                        <!-- Header Over-->

                        <div class="direccion">
                            <a href="index.html">Inicio</a>
                            <div> &nbsp; &rarr; </div>
                            <div> &nbsp; Snacks </div>
                        </div>

                        <!-- Pita Chips -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://ig-s-d-a.akamaihd.net/hphotos-ak-xwa1/t51.2885-15/s640x640/sh0.08/e35/14549954_350266158650111_8441731149109133312_n.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Pita Chips</div>
                        <div class="productMinDesc">Crujientes y deliciosas chips de pan pita. Tres diferentes sabores: Pimienta, Oregano y Canela. Marca: Ecogourmet</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 6.980</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Arepa Pela -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://ig-s-b-a.akamaihd.net/hphotos-ak-xwa1/t51.2885-15/e35/17495058_213612215783041_4826180413221240832_n.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Arepa Pela</div>
                        <div class="productMinDesc">Conchas de arepa de maiz pelado. Snack, Certificado Gluten Free, 100% puro MAIZ. Cómetela a Pedacitos. Marca: Arepa Pela</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 5.500</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Barras Viva Mas -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="http://fitnessmarket.com.ve/db/371_A.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Barritas Viva+</div>
                        <div class="productMinDesc">Barras Frutos Secos Viva+ Tu barra de frutos secos favorita. Diferentes Sabores: Guayaba, Chocolate, Datiles, Ajonjoli, Mani. Marca: Viva+</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 2.100</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Fiora Biscotti -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/crostatasguayaba.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Crostatas de Guayaba</div>
                        <div class="productMinDesc">Crostatas de guayaba. Marca: Fiora Biscotti.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 4.050</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Polvorosas Lebouton -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://ig-s-b-a.akamaihd.net/hphotos-ak-xwa1/t51.2885-15/s640x640/sh0.08/e35/c0.50.1080.1080/16583144_671055856399209_1539840423810301952_n.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Polvorosas LeBouton</div>
                        <div class="productMinDesc">Polvorosas. Contenido: 60gr. Marca: LeBouton.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 4.900</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Mantequilla de Mani Zumay -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://scontent-amt2-1.cdninstagram.com/t51.2885-15/e35/17332559_388597564860297_6070641316016947200_n.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Crema de Mani Zumey. 500gr</div>
                        <div class="productMinDesc">Crema de mani de 500gr, contiene sal y azucar. Hecho en Venezuela. Marca: Zumay</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf </div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Crema de Ajonjoli Zumay -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/cremaajonjoli.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Crema de Ajonjoli Zumey. 500gr</div>
                        <div class="productMinDesc">Crema de ajonjoli (Tahini) de 500gr. Perfecta para tus recetas de crema de garbanzo, berenjena, entre otras. Hecho en Venezuela. Marca: Zumay</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf </div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Lance Gluten-Free. Crackers Mantequilla Mani -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/81hRCU-omyL._SX522_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Mini Crackers de Mantequilla de Mani</div>
                        <div class="productMinDesc">Galleticas tipo sanduche de mantequilla de mani. Empaque de Aprox: 30gr. Certificado Gluten-Free. No contiene: Gluten - Huevos - Sirope de maiz - Aceite hidrogenado - Colores o sabores artificiales - Conservantes. Marca: Lance. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 16.000</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                        <!-- Lance Gluten-Free. Crackers Queso -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/81z62LLyxJL._SX522_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Mini Crackers de Queso</div>
                        <div class="productMinDesc">Galleticas tipo sanduche de queso. Empaque de Aprox: 30gr. Certificado Gluten-Free. No contiene: Gluten - Huevos - Sirope de maiz - Aceite hidrogenado - Colores o sabores artificiales - Conservantes. Marca: Lance. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 16.000</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Snyder's of Hanover Pretzel Mini -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/81hnd5b-hpL._SY679_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Mini Pretzels</div>
                        <div class="productMinDesc">Mini pretzels tradicionales. 0 Grasas Trans. Empaque de: 42.5gr. Marca: Snyder's of Hanover. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 7.880</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Snyder's of Hanover Pretzel Palitos -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/81mgSX5JiuL._SX522_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Palitos de Pretzels</div>
                        <div class="productMinDesc">Mini palitos de pretzels tradicionales. Perfecto para comer con salsas. 0 Grasas Trans. Empaque de: 42.5gr. Marca: Snyder's of Hanover. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 7.880</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Snyder's of Hanover Pretzel Masa Madre Bites -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/818OKsYfc4L._SY679_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Bites de Masa Madre de Pretzels</div>
                        <div class="productMinDesc">Mini Bites de masa madre de pretzels tradicionales. Libre de grasas. Empaque de: 42.5gr. Marca: Snyder's of Hanover. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 7.880</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Snyder's of Hanover Pretzel Pedazos Mostaza Miel y Cebolla -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/813cGZDdszL._SY679_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Pedacitos de Pretzels Sabor Mostaza Miel y Cebolla</div>
                        <div class="productMinDesc">Mini pedacitos de pretzels con sabor a mostaza miel y cebolla. Empaque de: 63.8gr. Marca: Snyder's of Hanover. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 7.880</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                        <!-- Cheez It. Crackers de Queso -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://jetimages.azureedge.net/md5/72c78c94131678ec33485f6c41efd6e0.500"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Crackers Horneados Sabor a Queso</div>
                        <div class="productMinDesc">Mini crackers horneados sabor a queso. Hechos con queso 100% verdadero. Empaque de: 42.5gr. Marca: Cheez It. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 6.600</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- GoldFish Chedar -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/91rn2aYIEFL._SY550_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Crackers Horneados Sabor a Queso Con forma de Pez</div>
                        <div class="productMinDesc">Mini galletas horneadas sabor a queso. Hechos con queso 100% verdadero. 0 grasas trans. Empaque de: 42.5gr. Marca: GoldFish. No contiene: Grasas trans - Conservantes o sabor artificial -  Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.200</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                        <!-- Ritz Cracker Sandwiches, Peanut Butter, 8-1.38 Ounce -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="http://images.sweetauthoring.com/product/30745.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Crackers Rellenos Mantequilla de Mani</div>
                        <div class="productMinDesc">Galletas tipo sanduche rellenas de mantequilla de mani. Empaque de: 40gr. Marca: Ritz. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.050</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Ritz Cracker Sandwiches, Cheese, 8-1.38 Ounce -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjaVBrxZ0UV9EfZl3bUtP0IEdwqmOeWCoC0FqmUPlWbBZSGt8i"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Crackers Rellenos Queso</div>
                        <div class="productMinDesc">Galletas tipo sanduche rellenas de crema de queso 100% verdadero. Empaque de: 40gr. Marca: Ritz. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.050</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Kellogg's Nutri-Grain Bars, Strawberry -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images.samsclubresources.com/is/image/samsclub/0003800035948_A?$img_size_380x380$"></div>
                    <div class="rightCol">
                        <div class="productTitle"> Barra de Nutritiva Nutri-Grain de Kelloggs. Sabor a Fresa</div>
                        <div class="productMinDesc">Barra de nutritiva sabor a fresas. 120 Kcal por barra. Marca: Kellogg's Nutri-Grain. Perfecto para complementar tus desayunos Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 6.960</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                        <!-- Almond Breeze Almond Milk, Vanilla, 8 Ounce -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/61pT46I7r0L._SX522_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Leche de Almendra. Sabor a Vainilla</div>
                        <div class="productMinDesc">Leche de almendras, ligeramente saborizada con vainilla natural. Empaque de: 236ml. Enriquecida con calcio. No contiene: Lactosa - Soya - Gluten. Marca: Almond Breeze. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 19.980</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                        <!-- Snyder's of Hanover Gluten Free 100 Calorie Pretzel Sticks -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://jetimages.azureedge.net/md5/e25edba7c03d574e9596fc84d8bbc8ff.500"></div>
                    <div class="rightCol">
                        <div class="productTitle">Palitos de Pretzels. Gluten - Free</div>
                        <div class="productMinDesc">Palitos de Pretzels. Certificado Gluten - Free. 100 Kcal. Empaque de 25.5gr. No contiene: Lacteos - Huevos - Gluten - Caseína. Marca: Snyder's of Hanover. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 9.900</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Nature Valley Granola Bars Oats 'n Honey -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="http://www.theofficedealer.com/mm5/graphics/product_images/1300/1462885598/NATURE-VALLEY-SN3353-Oats-N-Honey-Granola-Bars.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Barra de Granola. Miel y Avena</div>
                        <div class="productMinDesc">Barra de granola sabor miel y avena. 190 Kcal por empaque de 42gr. Hecha con avena 100% natural.  Marca: Nature Valley. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.050</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                              <!-- Nature Valley Granola Bars Peanut Butter -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://www.staples-3p.com/s7/is/image/Staples/s0949123_sc7?$splssku$"></div>
                    <div class="rightCol">
                        <div class="productTitle">Barra de Granola. Mantequilla de Mani</div>
                        <div class="productMinDesc">Barra de granola sabor mantequilla de mani. 190 Kcal por empaque de 42gr. Marca: Nature Valley. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.050</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                                    <!-- Nature Valley Granola Bars Maple Brown Sugar -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://279173f3.nuajik.io/936-home_default/nature-valley-crunchy-maple-brown-sugar.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Barra de Granola. Maple Azucar Morena</div>
                        <div class="productMinDesc">Barra de granola sabor maple. 190 Kcal por empaque de 42gr. Marca: Nature Valley. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.050</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>



                                    <!-- Nature Valley Granola Bars Protein Gluten Free -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://skinnyrulesdotcom.files.wordpress.com/2013/05/nature-valley.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Barra de Granola. Mantequilla de Mani. Chocolate Negro. +Proteina. Gluten-Free</div>
                        <div class="productMinDesc">Barra de proteinas con mantequilla de mani y chocolate negro + 10gr Proteinas. Libre de gluten. 190 Kcal por empaque de 42gr. Marca: Nature Valley. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 9.885</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                                    <!-- Huy Fong Hot Chili Sauce, Sriracha, 28 oz -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://skinnyrulesdotcom.files.wordpress.com/2013/05/nature-valley.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Barra de Granola. Mantequilla de Mani. Chocolate Negro. +Proteina. Gluten-Free</div>
                        <div class="productMinDesc">Barra de proteinas con mantequilla de mani y chocolate negro + 10gr Proteinas. Libre de gluten. 190 Kcal por empaque de 42gr. Marca: Nature Valley. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 9.885</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                                    <!-- Mini Pringles Original-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/pringlessnackoriginal.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Pringles Snack Original</div>
                        <div class="productMinDesc">Papitas pringles sabor original. Tamaño de 20gr. Marca: Pringles. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 5.690</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                                    <!-- Mini Pringles Queso-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/pringlessnackqueso.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Pringles Snack Queso</div>
                        <div class="productMinDesc">Papitas pringles sabor queso cheddar. Tamaño de 20gr. Marca: Pringles. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 5.690</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                                    <!-- Mini Pringles Cebolla-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/pringlessnackcebolla.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Pringles Snack Cebolla</div>
                        <div class="productMinDesc">Papitas pringles sabor cebolla. Tamaño de 20gr. Marca: Pringles. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 5.690</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>


                                          <!-- Sensible Portions Garden Veggie Straws-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/51lHtIzsUVL._AC_US218_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Veggie Straws Original.</div>
                        <div class="productMinDesc">Snacks en forma de pitillitos sabor original. Gluten - Free. Cero colesterol, cero sabor o color artificial, cero grasas trans. Vegano. 30% menos grasa que otros chips. Cada paquete contiene 130 Kcal. Tamaño de 28gr. Marca: Sensible Portions. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.070</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                                                <!-- Sensible Portions Garden Veggie Straws Ranch-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/51fr8phT9+L._AC_US218_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Veggie Straws Ranch.</div>
                        <div class="productMinDesc">Snacks en forma de pitillitos sabor Ranch. Gluten - Free. Cero colesterol, cero sabor o color artificial, cero grasas trans. Vegano. 30% menos grasa que otros chips. Cada paquete contiene 130 Kcal. Tamaño de 28gr. Marca: Sensible Portions. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 8.070</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                        <!-- Smucker's Breakfast Syrup Sugar Free, 14.5 Oz-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/41M546Q5V2L._AC_US218_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Sirope Desayuno Sin Azucar</div>
                        <div class="productMinDesc">Sirope sin azucar para tus desayunos. Bajo en Kcal. Producto libre de azucar. Perfecto para tus panquecas o waffles. Empaque de 428ml. Marca: Smucker's. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 38.800</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                              <!-- Blue Diamond Almond Breeze Almond Milk, Original, 32 Fl Oz-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://jetimages.azureedge.net/md5/8355f22ef40a153699642ccd96cfd86e.500"></div>
                    <div class="rightCol">
                        <div class="productTitle">Leche de Almendra. Original</div>
                        <div class="productMinDesc">Leche de almendras, sabor original. Apto para veganos. Empaque de 946ml. No contiene: Lacteos - Soya - Colesterol - Caseína - Gluten - Huevos. Marca: Blue Diamond Almond Breeze. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 32.900</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>

                              <!-- Almond Breeze Almond Milk, Unsweetened Original, 32 Fl Oz-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/I/51iC-qRi2bL._AC_US218_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Leche de Almendra. Unsweetened Original. </div>
                        <div class="productMinDesc">Leche de almendras, sabor original Unsweetened. Bajo índice glucémico. No contiene: Lacteos - Soya - Colesterol - Caseína - Gluten - Huevos. Enriquesida con calcio. Empaque de 946ml. Marca: Blue Diamond Almond Breeze. Producto de: EEUU</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 32.900</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>



    </body>
</html>