                              <!-- Coco Rallado-->
      <div class="gridnd">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/cocoRayado.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Coco rallado</div>
                        <div class="productMinDesc">100% Coco deshidratado rallado. Perfecto para tus recetas. Producto de: Venezuela.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Ver lista de <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpjf82Zx0Yz8JkNvssay2XX20ebkolkqmif6cdn8NfM9uSlMhRydy0jBCZA7Dj5JiU9Xg91D8z9aKy/pub?gid=0&single=true&output=pdf" style="color: rgb(0,0,0)">
                            <font color="000000"> precios </font></a>
                            </div>
                        <!-- ModificarPrecioProducto -->
                            {% include includeDescuentos.html %}
                        </div>
                    </div>
                </div>
      </div>