                              <!-- dicedApple -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/dicedApple.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Manzana Deshidratada Dados</div>
                        <div class="productMinDesc">C&#243;digo: FS219. Orejones de manzana deshidratados picados en daditos. Perfecto para agregar a tus granolas o cereales, tortas, entre otros. Producto de: China.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Ver lista de <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpjf82Zx0Yz8JkNvssay2XX20ebkolkqmif6cdn8NfM9uSlMhRydy0jBCZA7Dj5JiU9Xg91D8z9aKy/pub?gid=0&single=true&output=pdf" style="color: rgb(0,0,0)">
                            <font color="000000"> precios </font></a>
                            </div>
                        <!-- ModificarPrecioProducto -->
                            {% include includeDescuentos.html %}
                        </div>
                    </div>
                </div>
      </div>