                        <!-- Grupo Cashew Higos Black Mission -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/Dried-Figs-Nutstop.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Higos "Black Mission"</div>
                        <div class="productMinDesc">Higos Negros deshidratados. Su nombre surge de los misioneros Franciscanos que los sembraron en California, EEUU. El higo "Black Mission" es de naturaleza ligeramente mas dulce que los higos turcos. Producto de: EEUU.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax"> Precios y presentaciones: </div>
                        <!-- ModificarPrecioProducto -->

                                    <!-- Descuentos Productos KG -->
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 0.12 Kg x $XXXXX</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 0.25 Kg x $XXXXX</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 0.50 Kg x $XXXXX</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 1.85 Kg x $XXXXX</div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>