                        <!-- Grupo Cashew Mani Sin Sal -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/Pumpkin-Kernels-Raw-Nutstop.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Semilla Auyama Pelada Tostada Sin Sal</div>
                        <div class="productMinDesc">Semilla de auyama pelada. Tostada sin sal. Producto de: EEUU.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax"> Precios y presentaciones: </div>
                        <!-- ModificarPrecioProducto -->

                                    <!-- Descuentos Productos KG -->
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 0.12 Kg x $XXXXX</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 0.25 Kg x $XXXXX</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 0.50 Kg x $XXXXX</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">&nbsp; 1.85 Kg x $XXXXX</div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>