                                    <!-- Descuentos Productos KG -->
                            <div class="line">
                                 <div class="Cantidad">(Pide 400gr)</div>
                                 <div class="BsfvsKilo"> &nbsp; 2% Descuento &nbsp; &darr;</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">(Pide 700gr)</div>
                                 <div class="BsfvsKilo"> &nbsp; 4% Descuento &nbsp; &darr;</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">(Pide 1 Kg)</div>
                                 <div class="BsfvsKilo"> &nbsp; &nbsp; 6% Descuento &nbsp; &darr;</div>
                            </div>
