                                          <!-- Organica Rice Cakes-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/riceCakeOrganica.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Rice Cakes</div>
                        <div class="productUnitDesc">Galletas de Arroz. Arroz inflado crujiente. Empaque de 60gr. Producto de: Venezuela. Marca: Organica.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 1.780</div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>