                                          <!-- Semillas de Ajonjoli-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/S/aplus-seller-content-images-us-east-1/ATVPDKIKX0DER/A36Y7UYGELB4VE/B01LY3XP7R/11gk1E7pSeW3._UX300_TTW_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Ajonjoli Blanco</div>
                        <div class="productMinDesc">Semillas de ajonjoli blanco. Producto de: Venezuela.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Bsf 42.000/Kg</div>
                        <!-- ModificarPrecioProducto -->
                            <div class="line">
                                 <div class="Cantidad">(Pide 400gr)</div>
                                 <div class="BsfvsKilo"> &nbsp; 4% Descuento &nbsp; &darr;</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">(Pide 700gr)</div>
                                 <div class="BsfvsKilo"> &nbsp; 6% Descuento &nbsp; &darr;</div>
                            </div>
                            <div class="line">
                                 <div class="Cantidad">(Pide 1 Kg)</div>
                                 <div class="BsfvsKilo"> &nbsp; &nbsp; 9% Descuento &nbsp; &darr;</div>
                            </div>

                        </div>
                    </div>
                </div>
      </div>