                                          <!-- Semillas de Ajonjoli-->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="https://images-na.ssl-images-amazon.com/images/S/aplus-seller-content-images-us-east-1/ATVPDKIKX0DER/A36Y7UYGELB4VE/B01LY3XP7R/11gk1E7pSeW3._UX300_TTW_.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Ajonjoli Blanco</div>
                        <div class="productMinDesc">Semillas de ajonjoli blanco. Producto de: Venezuela.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Ver lista de <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpjf82Zx0Yz8JkNvssay2XX20ebkolkqmif6cdn8NfM9uSlMhRydy0jBCZA7Dj5JiU9Xg91D8z9aKy/pub?gid=0&single=true&output=pdf" style="color: rgb(0,0,0)">
                            <font color="000000"> precios </font></a>
                            </div>
                        <!-- ModificarPrecioProducto -->
                            {% include includeDescuentos.html %}
                        </div>
                    </div>
                </div>
      </div>