                              <!-- zumeyCremaMani500gr -->
      <div class="grid">
                <div class="separator"></div>
                <div class="row">
                    <div class="leftCol"><img src="recursos/zumeyCremaMani500gr.jpg"></div>
                    <div class="rightCol">
                        <div class="productTitle">Crema de Mani Zumey 500gr</div>
                        <div class="productUnitDesc">C&#243;digo: U104N. Deliciosa crema de mani. Envase de vidrio de 500 gramos. Suave y cremosa para untarla en tus meriendas y desayunos. Hecha con mani tostado y pelado. Puedes encontrarla en presentacion con azucar, o sin azucar agregada. Marca: Zumey. Producto de: Venezuela.</div>
                        <div class="productPrices">
                        <!-- ModificarPrecioProducto -->
                            <div class="priceMax">Ver lista de <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpjf82Zx0Yz8JkNvssay2XX20ebkolkqmif6cdn8NfM9uSlMhRydy0jBCZA7Dj5JiU9Xg91D8z9aKy/pub?gid=0&single=true&output=pdf" style="color: rgb(0,0,0)">
                            <font color="000000"> precios </font></a>
                            </div>
                        <!-- ModificarPrecioProducto -->
                        </div>
                    </div>
                </div>
      </div>